
        <div class="modal-header">
    
            <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <div class="container">
        
                <div class="col-md-8">
                    <form [formGroup]="userForm" >
                        <div>
                            <!-- <div>
                                <label >ID :</label>
                                <input type="text" class="form-control" formControlName="_id" readonly>
                            </div> -->
                            <div>
                                <label >Full Name* :</label>
                                    <input type="text" class="form-control" placeholder="Full Name" formControlName="fullName">
                                    <div
                                    *ngIf="( userForm.controls['fullName'].dirty || userForm.controls['fullName'].touched) &&  userForm.controls['fullName'].invalid" style="color:red">
                                      <p *ngIf=" userForm.controls['fullName'].hasError('required')">*Please fill this is mandatory field .</p>
                                      <p *ngIf=" userForm.controls['fullName'].hasError('maxlength')" >*It should not contain more then 50 characters.</p>
    
                                    </div>
                                </div>
                            <div>
                                <label >Display Name* :</label>
                                    <input type="text" class="form-control" placeholder="Display Name" formControlName="displayName">
                                    <div
                                    *ngIf="( userForm.controls['displayName'].dirty || userForm.controls['displayName'].touched) &&  userForm.controls['displayName'].invalid" style="color:red">
                                      <p *ngIf=" userForm.controls['displayName'].hasError('required')">*Please fill this is mandatory field .</p>
                                      <p *ngIf=" userForm.controls['displayName'].hasError('maxlength')" >*It should not contain more then 50 characters.</p>
    
                                    </div>
    
                            </div>
                            <div>
                                <label >Title* :</label>
                                    <input type="text" class="form-control" placeholder="Title" formControlName="title">
                                    <div
                                    *ngIf="( userForm.controls['title'].dirty || userForm.controls['title'].touched) &&  userForm.controls['title'].invalid" style="color:red">
                                      <p *ngIf=" userForm.controls['title'].hasError('required')">*Please fill this is mandatory field .</p>
                                      <!-- <p *ngIf=" userForm.controls['title'].hasError('maxlength')" >*It should not contain more then 50 characters.</p> -->
    
                                    </div>
                            </div>
                            <div>
                                <label >UserLevel* :</label>
                                    <input type="text" class="form-control" placeholder="User Level" formControlName="userLevel">
                                    <div
                                    *ngIf="( userForm.controls['userLevel'].dirty || userForm.controls['userLevel'].touched) &&  userForm.controls['userLevel'].invalid" style="color:red">
                                      <p *ngIf=" userForm.controls['userLevel'].hasError('required')" >*Please fill this is mandatory field .</p>
    
                                    </div>
    
                            </div>
                            <div>
                                <label >Email* :</label>
                                    <input type="text" class="form-control" placeholder="Email" formControlName="email">
                                    <div
                                    *ngIf="( userForm.controls['email'].dirty || userForm.controls['email'].touched) &&  userForm.controls['email'].invalid" style="color:red">
                                      <p *ngIf=" userForm.controls['email'].hasError('required')" >*Please fill this mandatory field .</p>
                                      <p *ngIf=" userForm.controls['email'].hasError('email')" >*Please enter a valid email .</p>
                                    </div>
    
                            </div>
                            <div>
                                <label >Phone* :</label>
                                    <input type="text" class="form-control" placeholder="Phone" formControlName="phone">
                                    <div
                                    *ngIf="( userForm.controls['phone'].dirty || userForm.controls['phone'].touched) &&  userForm.controls['phone'].invalid" style="color:red">
                                      <p *ngIf=" userForm.controls['phone'].hasError('required')" >*Please fill this is mandatory field .</p>
                                      <p *ngIf=" userForm.controls['phone'].hasError('maxlength')">*Please enter a valid phone number .</p>
    
                                    </div>
    
                            </div>
                            <div>
                                <label >Status* :</label>
                                    <input type="text" class="form-control" placeholder="Status" formControlName="status">
                                    <div
                                    *ngIf="( userForm.controls['status'].dirty || userForm.controls['status'].touched) &&  userForm.controls['status'].invalid" style="color:red">
                                      <p *ngIf=" userForm.controls['status'].hasError('required')" >*Please fill this is mandatory field .</p>
    
                                    </div>
                                    <mat-icon (click)="statusActive()">done</mat-icon>
                                    <mat-icon (click)="statusInactive()">close</mat-icon>
                            </div>
                          
                        </div>
                    </form>
                </div>
            </div>
    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" (click)="updateEmployee()">Edit</button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')" (click)="cancelUpdateForm()">Cancel</button>
          </div>
        