<nav class="navbar navbar-expand-md navbar-white bg-primary">
    <div class="navbar-nav mr-auto">
      <button class="btn btn-light btn-md mx-5 " type="button" data-bs-toggle="dropdown" aria-expanded="false">
        &#9776; 
      </button>
      <div class="mx-5" ></div>
      <div class="dropdown-menu" >
      <ul class="group-list" *ngFor="let n of serNav">
        <li class="list-group-item list-group-item-action active"><a  (click)="pageHeading(n.name)" 
          [routerLink]="n.url" class="text-decoration-none nav-link active" *ngIf = n.select>{{n.name}}</a></li>
        </ul>
      </div>
     </div>

     <div class="mx-auto">
        <h2 class="navbar-brand text-white mx-5">{{pagetitle}}</h2> 
    </div>
        <div class="navbar-nav ml-auto">
            <a class=" btn btn-light text-center text-dark text-decoration-none my-2 "(click)="pageHeading(pagetitle)" 
            routerLink="nav-edit" role="button"  aria-expanded="false">
                User Setting
            </a>
            <div class="btn-group px-2">
              <a class="nav-link dropdown-toggle btn btn-light text-dark my-2 text-decoration-none" href="#" 
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user px-2" aria-hidden="true"></i>
              </a>
      <ul >  
        <div class="dropdown-menu my-2" style="right:0;left:auto;width: 220px;;">
        <li class="my-2"><i class="fa fa-user-circle-o px-2" aria-hidden="true"></i>Dheeraj Patel</li>
        <li class="my-2"><i class="fa fa-id-badge px-2" aria-hidden="true"></i> Entry level trainee</li>
        <li class="my-2">
            <a href="#" class="text-dark text-decoration-none">
            <span class="glyphicon glyphicon-log-out "></span><i class="fa fa-sign-out px-2" ></i>Log out
            </a>
        </li></div>
      </ul>
    </div>
        </div>
</nav>

  