<div class="mx-auto">
    <h2 class="text-center text-primary py-4">USER SETTING</h2>
    <div class="d-flex align-items-center justify-content-center">
    <div class="form-check" >
         
        
    <form #navitemForm="ngForm" (ngSubmit)="saveNavList()">
      <div class=" form-group">
      <div class="form-group form-check" *ngFor="let n of navitem">
      <input  type="checkbox" class="form-check-input" [value]="n.id" n.select="ngModel" [checked]="n.select" (change)="onChangenavList($event)" id="flexCheckDefault" >
      <label class="form-check-label" for="flexCheckDefault">{{n.name}}</label>
      </div>
    
      <label class="text-danger my-2" *ngIf = "error">All Fields cannot be unchecked </label>
      <div class="text-center">
       <button type="submit"  class="btn btn-primary my-3  mx-2" disabled> Save</button>
        <button class="btn btn-secondary mx-2" (click)="closeUserSetting()"> Close</button>
        </div></div>
      </form>
    </div>
    </div>
    </div>