<!-- <div>
    <app-users></app-users>
</div> -->
<br />
<!-- <div class="search-hero">
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="fullName">
  <input type="text" name="search" [(ngModel)]="displayText" placeholder="displayName">
  <input type="text" name="search" [(ngModel)]="titleText" placeholder="title">
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="usersName">
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="email">
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="phone">
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="status">
</div> -->

<div>
  <input type="text" id="fname" placeholder="FullName" name="firstname" [(ngModel)]="filterModel.fullName">
      
      <input type="text" id="fname" placeholder="displayName" name="firstname" [(ngModel)]="filterModel.displayName">
      <input type="text" id="fname" placeholder="title" name="firstname" [(ngModel)]="filterModel.title">
      <input type="text" id="fname" placeholder="userLevel" name="firstname" [(ngModel)]="filterModel.userLevel">
      <input type="text" id="fname" placeholder="email" name="firstname" [(ngModel)]="filterModel.email">
      <input type="text" id="fname" placeholder="phone" name="firstname" [(ngModel)]="filterModel.phone">
      <input type="text" id="fname" placeholder="status" name="firstname" [(ngModel)]="filterModel.status">
</div>


<div>
  <div>
    <table class="table table-sm table-hover ">
      <thead class="bg-primary">
        <tr>
          <!-- <th>ID</th> -->
          <th (click)="sort('fullName')">
            Full Name
            <!-- <i class="bi bi-funnel-fill"></i> -->
          </th>
          <th (click)="sort('displayName')">
            Display Name
            <!-- <i class="bi bi-funnel-fill"></i> -->
          </th>
          <th (click)="sort('title')">Title</th>
          <th (click)="sort('userLevel')">User Level</th>
          <th (click)="sort('email')">Email</th>
          <th (click)="sort('phone')">Phone</th>
          <th (click)="sort('status')">Status</th>
          <th></th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let user of userService.usersList | orderBy: key:reverse | filter:filterModel.fullName | filter:filterModel.displayName 
        |filter:filterModel.title |filter:filterModel.userLevel |filter:filterModel.email |filter:filterModel.phone |filter:filterModel.status">
          <!-- <td>{{user._id}}</td> -->
          
          <td >{{ user.fullName }}</td>
          <td>{{ user.displayName }}</td>
          <td>{{ user.title }}</td>
          <td>{{ user.userLevel }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.status }}</td>
          <td>
            <i class="bi bi-pencil-square" (click)="editUsers(user)"></i>
          </td>
          
          <!-- <td>
            <i
              class="bi bi-trash"
              (click)="deleteEmployee(user._id)"
              style="color: #f73636"
            ></i>
          </td> -->
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
