  <!-- <div>
    <form [formGroup]="userForm" (ngSubmit)="saveUser()" >
            
        <input type="text" name="fullName" placeholder="Full Name"  formControlName="fullName">
        <input type="text" name="displayName" placeholder="Display Name" formControlName="displayName">
         <input type="text" name="title" placeholder="Title" [(ngModel)]="title" formControlName="title">
        <input type="text" name="userLevel" placeholder="User Level" [(ngModel)]="userLevel" formControlName="userLevel">
        <input type="text" name="email" placeholder="Email" [(ngModel)]="email" formControlName="email">
        <input type="text" name="phone" placeholder="Phone" [(ngModel)]="phone" formControlName="phone">
        <input type="text" name="status" placeholder="Status" [(ngModel)]="status" formControlName="status"> 
        <button class="btn btn-primary mx-4" 
                            (click)="saveUser()"> save</button>
                    <button class="btn btn-primary"
                            (click)="clearForm()"> Clear</button>
   
        </form>
</div> -->
<!--<div>
    <form >
            
        <input type="text" name="fullName" placeholder="Full Name" [(ngModel)]="fullName">
        <input type="text" name="displayName" placeholder="Display Name" [(ngModel)]="displayName">
        <input type="text" name="title" placeholder="Title" [(ngModel)]="title">
        <input type="text" name="userLevel" placeholder="User Level" [(ngModel)]="userLevel">
        <input type="text" name="email" placeholder="Email" [(ngModel)]="email">
        <input type="text" name="phone" placeholder="Phone" [(ngModel)]="phone">
        <input type="text" name="status" placeholder="Status" [(ngModel)]="status">
    </form>
</div>  -->
<div>
    <form >
            
        <input type="text" name="fullName"  placeholder="Full Name" value="Full Name:{{fullName.value}}">
        <input type="text" name="displayName" placeholder="Display Name"value="Display Name:{{displayName.value}}">
        <input type="text" name="title"  placeholder="Title"value="Title:{{title.value}}">
        <input type="text" name="userLevel"  placeholder="User Level"value="userLevel:{{userLevel.value}}">
        <input type="text" name="email"  placeholder="Email"value="Email:{{email.value}}">
        <input type="text" name="phone"  placeholder="Phone"value="Phone:{{phone.value}}">
        <input type="text" name="status"  placeholder="Status"value="Status:{{status.value}}">
       
            <button class="btn  mx-2" 
                    (click)="saveUser()"> Add user</button>
            <button class="btn "
                    (click)="clearForm()"> Filter</button>
        
    </form>
</div>



<!-- <div class="container">
    
    <div class="col-md-6">
        
            <div>
                <div>
                    <label >Full Name :</label>
                        <input type="text" class="form-control" placeholder="Full Name" [formControl]="fullName">
                    </div>
                <div>
                    <label >displayName :</label>
                        <input type="text" class="form-control" placeholder="Display Name" [formControl]="displayName">

                </div>
                <div>
                    <label >title :</label>
                        <input type="text" class="form-control" placeholder="Title" [formControl]="title">
                </div>
                <div>
                    <label >userLevel :</label>
                        <input type="text" class="form-control" placeholder="User Level" [formControl]="userLevel">
                        
                </div>
                <div>
                    <label >email :</label>
                        <input type="text" class="form-control" placeholder="Email" [formControl]="email">
                        
                </div>
                <div>
                    <label >phone :</label>
                        <input type="text" class="form-control" placeholder="Phone" [formControl]="phone">
                        
                </div>
                <div>
                    <label >status :</label>
                        <input type="text" class="form-control" placeholder="Status" [formControl]="status">
                        
                </div>
                <!-- <div class="my-4 text-center">
                    <button class="btn btn-primary mx-4" 
                            (click)="saveUser()"> save</button>
                    <button class="btn btn-primary"
                            (click)="clearForm()"> Clear</button>
                </div> 
            </div>
        
    </div>
</div> -->




