<body>
  <div class="container">
    <div>
      <h3 class="title">UPDATE PURCHASE ORDER</h3>
    </div>

    <div style="background-color: white; overflow: hidden" class="col-md-12">
      <div class="two-col">
        <div class="form-group col1">
          <i class="icon fa-solid fa-chevron-down"></i>
          <label for="po num">Po Number</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="order.po_num"
            style="background-color: royalblue"
          />
          <!-- <label for="poNum">Po Number</label> -->
          <!-- <select
            id="poNum"
            class="col1 form-control"
            style="background-color: royalblue"
          >
            <option>Select PO number</option>
            <option *ngFor="let poNumbers of ponum">
              {{ poNumbers.po_num }}
            </option>
          </select> -->
        </div>

        <div class="form-group col2">
          <label for="description">Description</label>
          <textarea
            type="description"
            class="form-control input-lg"
            [(ngModel)]="order.desc"
            style="background-color: royalblue"
          ></textarea>
        </div>

        <div class="form-group col1">
          <label for="date">Date</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="order.date"
            style="background-color: royalblue"
          />
        </div>
        <div class="form-group col2">
          <i class="icon fa-solid fa-chevron-down"></i>
          <label for="state">State</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="order.state"
            style="background-color: royalblue"
          />
        </div>

        <div class="form-group col1">
          <i class="icon fa-solid fa-indian-rupee-sign"></i>
          <label for="Total Amount">Total Amount</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="order.total_amt"
            style="background-color: royalblue"
          />
        </div>

        <div class="form-group col2">
          <i class="icon fa-solid fa-chevron-down"></i>
          <label for="city">City</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="order.city"
            style="background-color: royalblue"
          />
        </div>
        <div class="form-group col1">
          <i class="icon fa-solid fa-user"></i>
          <label for="user name"> User Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="order.username"
            style="background-color: royalblue"
          />
        </div>

        <div class="my-4 col2 text-center">
          <button
            type="button"
            class="btn btn-outline-danger btn-lg mx-3"
            (click)="cancelUpdateForm()"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-lg"
            style="background-color: royalblue; color: white"
          >
            UPDATE
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
