<div class="container" style="padding-left: 30px;">
  
    <table class="table table-bordered table-md" >
        <thead style="text-align: center;">
            <tr>
               <th>Value</th>
               <th>Status</th>
            </tr>
        </thead>
        <tbody style="text-align: center;" > 
            <tr  *ngFor="let lookup of lookupInfo.lookupTypeItems | paginate:{itemsPerPage: 5, currentPage: p};">
                <td>{{lookup.lookup_value}}</td>
                <td>{{lookup.status}}</td>
            </tr>
        </tbody>
        <pagination-controls (pageChange)="p= $event"> </pagination-controls>
    </table>
 
    <div class="col-md-12" style="text-align:center">
        
        <label>
          <div class="input-group mb-4">
            <input type="text" class="form-control" placeholder="Dropdown Values" [(ngModel)]="newLookupValue">
              <div>
              <button (click)="createLookup()">add</button>
              </div>
          </div>
        </label>
   
    </div>

</div>


