<body>
  <div class="container">
    <div>
      <h3 class="title">PURCHASE ORDER</h3>
    </div>

    <div style="background-color: white; overflow: hidden" class="col-md-12">
      <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
        <div class="two-col">
          <div class="form-group col1">
            <i class="icon fa-solid fa-chevron-down"></i>
            <label>Po Number</label>
            <select
              id="poNum"
              class="col1 form-control"
              formControlName="po_num"
              style="background-color: royalblue"
            >
              <option>Select PO number</option>

              <option *ngFor="let poNumbers of ponum">
                {{ poNumbers.po_num }}
              </option>
            </select>
          </div>

          <div class="form-group col2">
            <label for="description">Description</label>
            <textarea
              type="text"
              class="form-control"
              formControlName="desc"
              style="background-color: royalblue"
            ></textarea>
          </div>

          <div class="form-group col1">
            <label for="date">Date</label>
            <input
              type="date"
              class="form-control"
              formControlName="date"
              style="background-color: royalblue"
            />
          </div>
          <div class="form-group col2">
            <i class="icon fa-solid fa-chevron-down"></i>
            <label for="state">State</label>
            <input
              type="text"
              class="form-control"
              formControlName="state"
              style="background-color: royalblue"
            />
          </div>

          <div class="form-group col1">
            <i class="icon fa-solid fa-indian-rupee-sign"></i>
            <label for="Total Amount">Total Amount</label>
            <input
              type="text"
              class="form-control"
              formControlName="total_amt"
              style="background-color: royalblue"
            />
          </div>

          <div class="form-group col2">
            <i class="icon fa-solid fa-chevron-down"></i>
            <label for="city">City</label>
            <input
              type="text"
              class="form-control"
              formControlName="city"
              style="background-color: royalblue"
            />
          </div>
          <div class="form-group col1">
            <i class="icon fa-solid fa-user"></i>

            <label for="user name"> User Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
              style="background-color: royalblue"
            />
          </div>

          <div class="my-4 col2 text-center">
            <button class="btn btn-outline-danger mx-2" (click)="clearForm()">
              Cancel
            </button>
            <button
              class="btn btn-primary"
              style="background-color: royalblue; color: white"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
