<!-- <div class="container">
  <h3>ORDER LIST</h3>
  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Po Number</th>
          <th>Date</th>
          <th>Total Amount</th>
          <th>User Name</th>
          <th>Descriptions</th>
          <th>City</th>
          <th>State</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of purchaseList">
          <td>{{ order.po_number }}</td>
          <td>{{ order.date }}</td>
          <td>{{ order.total_amount }}</td>
          <td>{{ order.username }}</td>
          <td>{{ order.desc }}</td>
          <td>{{ order.state }}</td>
          <td>{{ order.city }}</td>
          <td>
            <mat-icon class="icon" (click)="editOrder(order)">create</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div class="container">
  <h3>ORDER LIST</h3>
  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Po Number</th>
          <th>Date</th>
          <th>Total Amount</th>
          <th>User Name</th>
          <th>Descriptions</th>
          <th>City</th>
          <th>State</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderList">
          <td>{{ order.po_num}}</td>
          <td>{{ order.date }}</td>
          <td>{{ order.total_amt }}</td>
          <td>{{ order.username }}</td>
          <td>{{ order.desc }}</td>
          <td>{{ order.state }}</td>
          <td>{{ order.city }}</td>
          <td>
            <mat-icon class="icon" (click)="editOrder(order)">create</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>