body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding: 30px 30px 30px 30px;
  background-color: #9dc6f2;
}

h3 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

thead {
  text-align: center;
  color: white;
  background-color: royalblue;
}

.icon:hover {
  cursor: pointer;
  font-weight: bolder;
}

tbody tr:nth-child(even) {
  background-color: rgb(213, 225, 236);
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: rgb(156, 196, 227);
  text-align: center;
}

tbody tr:hover {
  background-color: orange;
  font-weight: bold;
}
table tr th {
  border: 2px solid white;
}

table tr td {
  border: 1px solid white;
}
